body {
  padding: 0;
  margin: 0;
  overflow: hidden; /* Prevent unnecessary scrollbars */
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #2a2730;
}

.logIn {
  width: 600px;
  height: 350px;
  border: 5px solid #0091ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1e1c24;
  padding: 20px;
  box-sizing: border-box;
}

/* Login form inputs */
.logIn input {
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 5px solid #0091ff;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 17px;
}

.logIn input:focus {
  outline: none;
}

.logIn button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #0091ff;
  color: white;
  font-size: 16px;
  margin-top: 45px;
}

.logIn button:hover {
  cursor: pointer;
  background-color: #005a9f;
}

/* Chat container */
.chatContainer {
  width: 600px;
  height: 80vh;
  border: 5px solid #0091ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chatContainer .messages {
  flex: 80%;
  width: 100%;
  padding: 10px 20px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #1e1c24;
  scrollbar-width: none;
}

.chatContainer .messages::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}

.chatContainer .messageInputs {
  flex: 20%;
  display: flex;
  flex-direction: row;
}

.chatContainer .messageInputs input {
  flex: 80%;
  height: 100%;
  border: none;
  border-top: 5px solid #0091ff;
  padding-left: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.chatContainer .messageInputs button {
  flex: 20%;
  height: 100%;
  background-color: #0091ff;
  border: none;
  color: white;
  font-size: 18px;
}

.messageContainer {
  display: flex;
  width: calc(100% - 30px);
}

#You {
  justify-content: flex-start;
}

#Other {
  justify-content: flex-end;
}

#Other .messageIndividual {
  background-color: #005e21;
}

.messageIndividual {
  width: 200px;
  border-radius: 10px;
  background-color: #0091ff;
  color: white;
  padding: 10px;
  margin-top: 20px;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

/* RESPONSIVENESS FOR MOBILE DEVICES */
@media screen and (max-width: 768px) {
  .logIn, .chatContainer {
    width: 95%; /* Full width for smaller devices */
    height: 80vh; /* Adjust height */
  }

  .logIn input,
  .logIn button {
    width: 90%; /* Inputs take up most of the width */
    font-size: 14px; /* Smaller font size */
  }

  .chatContainer .messageInputs input {
    font-size: 16px;
    padding-left: 10px;
  }

  .chatContainer .messageInputs button {
    font-size: 14px;
  }

  .messageIndividual {
    width: auto; /* Allow messages to adapt to screen size */
    max-width: 70%; /* Limit message bubble width */
    font-size: 14px;
  }
}
